<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <nav class="bg_navbar fixed-top d-flex justify-content-between pl-1 pr-2">
          <button type="button" class="btn link_white"><%= link_to "Accueil", root_path%></button>
        <ul class="list-group list-group-horizontal">
          <% if user_signed_in? %>
          <div class="btn-group dropleft">
            <button type="button" class="btn text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Creer evenement
            </button>
            <div class="dropdown-menu border_dropdown">
            <%= form_tag url_for(controller: events_path, action: 'create'), method: "post" do %>
            <span class="text-center"><h1>Evenement</h1></span>
            <ul class="list-group m-5">
              <li>
                <%= label_tag :start_date %>
                <%= datetime_field_tag(name = "start_date", value = nil, options = {:min => Time.zone.now.strftime("%Y-%m-%dT%H:%M")}) %>
              </li>
              <li>
                <%= label_tag :duration %>
                <%= time_field_tag(name = "duration", value = "00:00", options = {:step => 5 * 60 }) %>
              </li>
              <li>
                <%= label_tag :title %>
                <%= text_field_tag(name = "title", value = nil, options = {:minlength => 5, :maxlength => 140}) %>
              </li>
              <li>
                <%= label_tag :description %>
                <%= text_field_tag(name = "description", value = nil, options = {:minlength => 20, :maxlength => 1000}) %>
              </li>
              <li>
                <%= label_tag :price %>
                <%= number_field_tag(name = "price", value = 0, options = {:min => 1, :max => 1000} )%>
              </li>
              <li>
                <%= label_tag :location %>
                <%= text_field_tag :location %>
              </li>
              <%= submit_tag "Créér l'évènement"%>
            <ul>
            </div>
            <% end %>
          <% end %>

          <% unless user_signed_in? %>
            <li>
              <div class="btn-group dropleft">
                <button type="button" class="btn text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
                </button>
                <div class="dropdown-menu border_dropdown">
                  <div class="dropdown-item"><%= link_to "S'inscrire", new_user_registration_path %></div>
                  <div class="dropdown-item"><%= link_to "Sign up", new_user_session_path %></div>
                </div>
              </div>
            </li>
          <% else %>
            <li>
              <div class="btn-group dropleft">
                <button type="button" class="btn text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
                </button>
                <div class="dropdown-menu border_dropdown">
                  <span class="dropdown-item" href="#"> <%= link_to "Mon profil", user_path(current_user) %> </span>
                  <span class="dropdown-item"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></span>
                </div>
              </div>
            </li>
          <% end %>

        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
